
/* v sidebar v */
.ui.top.vertical.menu.sidebar {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
/* ^ sidebar ^ */

/* v top menu v */
#initialContent {
    background-color: transparent;
    height: 60vh;
    width: 90vw;
    position: absolute;
    left: 5vw;
    bottom: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.linkedin.icon, .github.icon, .file.alternate.outline.icon {
    font-size: 2em;
}

#sidebarIcon {
    font-size: 1.5em;
}

.ui.menu {
    margin-bottom: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 1em;
}

.ui.menu .item > i.icon {   /* style to fix offset menu icons */
    margin: 0;
}
/* ^ top menu ^ */

/* v initial content v */
h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 4em;
}

h2 {
    margin: 0 1.5em;
}

#sub_header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.animate-fadeIn {
    animation-duration: 5s;
}

.sub_header_item {
    cursor: pointer;
    color: black;
}

#sub_header_1 {
	animation-delay: 1s;
	animation-duration: 1s;
    color: #e6c200;
}

#sub_header_2, #sub_header_4 {
	animation-delay: 4s;
	animation-duration: 2s;
}

#sub_header_3 {
	animation-delay: 2s;
	animation-duration: 1s;
	color: #e6c200;
}

#sub_header_5 {
	animation-delay: 3s;
	animation-duration: 1s;
	color: #e6c200;
}

@media(max-width: 850px) {

    #sub_header_2, #sub_header_4 {
        display: none;
    }

    #sub_header {
        flex-wrap: wrap;
        align-content: center;
        width: 250px;
    }

    h1 {
        font-size: 3.5em;
    }

}
/* ^ initial content */

/* v toggler */
#darkThemeDiv {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}

.darkifyPusher {
    color: white;
    background: black !important;
}

.darkifyHeader {
    color: white;
}
/* ^ toggler ^ */

/* v about me v */
#aboutMeContent {
    display: none;
    overflow-y: scroll;
    height: 80vh;
}

.darkifyPortraitHeader {
    color: white !important;
}

#aboutMeContent .ui.centered.card {
    margin-top: 1em;
}

@media(max-width: 768px) {

    #aboutMeContent .ui.ui.centered.card{
        box-shadow: none;
        border-radius: 10px; /* this fixes weird white spots that still show from the border, not the best fix */
    }

}
/* ^ about me ^ */

/* v coop v */
#coopContent {
    display: none; /*will change to display: flex when clicked on*/
    height: 80vh;
}

#coopRowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0em 2em;
    height: 100%;
}

#achievements {
    padding: 0 1em;
}

.ui.cards .card .content .header + .description {
    margin: 0.5em 0;
}

.ui.stackable.cards {
    height: 80vh;
    overflow-y: scroll;
}

#coopContent .dimmer.container {
    display: none;
    height: 80vh;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(0,0,0,0.95);
    align-content: center;
    justify-content: center;
}

#coopContent .ui.container {
    display: flex;
    align-content: center;
    justify-content: center;
}

#cardFall2019, #cardSpr2019, #cardSum2018, #cardFall2017 {
    margin-top: 0.5em!important;
}

#coopContent .one.column.row .column {
    display: flex;
    justify-content: center;
    align-items: center;
}

#coopContent .one.column.row .column .ui.inverted.icon.header {
    margin: 0 1em 0 1em;
}

#coopContent .two.column.row p {
    color: white;
    width: 100%;
    font-size: 1.15em;
}

#coopContent .two.column.row {
    padding: 0 2em 0 2em!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#coopContent .two.column.row #imgColumn {
    display: flex;
    align-content: center;
    justify-content: center;
}

#imgContainer img {
    height: 35vh;
}

#imgContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

#coopContent .three.column.row .column {
    display: flex;
    align-content: center;
    justify-content: center;
}

@media(max-width: 636px) {

    #coopContent .one.column.row .column {
        flex-wrap: wrap;
    }

    #coopContent .one.column.row .column  #divider {
        display: none;
    }

    #coopContent .one.column.row .column .ui.inverted.icon.header {
        width: 250px;
    }
}

@media(max-width: 775px) {
    #coopContent .ui.container {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #coopContent .one.column.row .column .ui.inverted.icon.header {
        margin-top: 1em;
    }
}

#coopContent .close.icon {
    top: 0.5em;
    left: 0.5em;
    position: absolute;
    margin: 0 0.5em 0.5em 0;
    color: white;
    transition: 0.25s;
    z-index: 1;
}

#coopContent .close.icon:hover {
    color: grey;
    transition: 0.25s;
    cursor: pointer;
}

/* ^ coop ^ */