
/* v sidebar v */
.ui.top.vertical.menu.sidebar {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
/* ^ sidebar ^ */

/* v top menu v */
#initialContent {
    background-color: transparent;
    height: 60vh;
    width: 90vw;
    position: absolute;
    left: 5vw;
    bottom: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.linkedin.icon, .github.icon, .file.alternate.outline.icon {
    font-size: 2em;
}

#sidebarIcon {
    font-size: 1.5em;
}

.ui.menu {
    margin-bottom: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 1em;
}

.ui.menu .item > i.icon {   /* style to fix offset menu icons */
    margin: 0;
}
/* ^ top menu ^ */

/* v initial content v */
h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 4em;
}

h2 {
    margin: 0 1.5em;
}

#sub_header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.animate-fadeIn {
    animation-duration: 5s;
}

.sub_header_item {
    cursor: pointer;
    color: black;
}

#sub_header_1 {
	animation-delay: 1s;
	animation-duration: 1s;
    color: #e6c200;
}

#sub_header_2, #sub_header_4 {
	animation-delay: 4s;
	animation-duration: 2s;
}

#sub_header_3 {
	animation-delay: 2s;
	animation-duration: 1s;
	color: #e6c200;
}

#sub_header_5 {
	animation-delay: 3s;
	animation-duration: 1s;
	color: #e6c200;
}

@media(max-width: 850px) {

    #sub_header_2, #sub_header_4 {
        display: none;
    }

    #sub_header {
        flex-wrap: wrap;
        align-content: center;
        width: 250px;
    }

}
/* ^ initial content */

/* v toggler */
#darkThemeDiv {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}

.darkifyPusher {
    color: white;
    background: black !important;
}

.darkifyHeader {
    color: white;
}
/* ^ toggler ^ */

/* v about me v */

