
#masthead {
    height: 92vh;
}

/* v sidebar v */
.ui.top.vertical.menu.sidebar {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

@media(min-width: 576px) { /* only for non-mobile */
    .ui.menu .item {
        position: static!important; /* removes the lines in between sidebar items for some reason*/
    }
}
/* ^ sidebar ^ */

/* v top menu v */
#initialContent {
    background-color: transparent;
    height: 60vh;
    width: 90vw;
    position: absolute;
    left: 5vw;
    bottom: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.linkedin.icon, .github.icon, .file.alternate.outline.icon {
    font-size: 2em;
}

#sidebarIcon {
    font-size: 1.5em;
    border-radius: 0.75em;
}

#sidebarIcon i {
    margin: 0 0.75em 0 0;
}

#sidebarIcon #iconLabel {
    font-size: 0.75em;
}

.ui.menu {
    height: 8vh;
    margin-bottom: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 1em;
}

.ui.menu .item > i.icon {   /* style to fix offset menu icons */
    margin: 0;
}
/* ^ top menu ^ */

/* v initial content v */
h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 4em;
}

h2 {
    margin: 0 1.5em;
}

#sub_header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.animate-fadeIn {
    animation-duration: 5s;
}

.sub_header_item {
    cursor: default;
    color: black;
}

#sub_header_1 {
	animation-delay: 1s;
	animation-duration: 1s;
    color: #e6c200;
}

#sub_header_2, #sub_header_4 {
	animation-delay: 4s;
	animation-duration: 2s;
}

#sub_header_3 {
	animation-delay: 2s;
	animation-duration: 1s;
	color: #e6c200;
}

#sub_header_5 {
	animation-delay: 3s;
	animation-duration: 1s;
	color: #e6c200;
}

@media(max-width: 850px) {

    #sub_header_2, #sub_header_4 {
        display: none;
    }

    #sub_header {
        flex-wrap: wrap;
        align-content: center;
        width: 250px;
    }

    h1 {
        font-size: 3.5em;
    }

}
/* ^ initial content */

/* v toggler */
#darkThemeDiv {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    position: absolute;
    bottom: 3.5vh;
    left: 1em;
}

#bottomBar {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 8vh;
    align-items: center;
    z-index: 51;
    background-color: transparent;
    color: black;
}

.darkText {
    color: white!important;
}

.darkifyPusher {
    color: white;
    background: black !important;
}

.darkifyHeader {
    color: white;
}
/* ^ toggler ^ */

/* v about me v */
#aboutMeContent {
    display: none;
    overflow-y: scroll;
    height: 100%;
}

.darkifyPortraitHeader {
    color: white !important;
}

#aboutMeContent .ui.centered.card {
    margin-top: 1em;
}

@media(max-width: 768px) {

    #aboutMeContent .ui.ui.centered.card{
        box-shadow: none;
        border-radius: 10px; /* this fixes weird white spots that still show from the border, not the best fix */
    }

}
/* ^ about me ^ */

/* v coop v */
#coopContent {
    display: none; /* will change to display: flex when clicked on */
    height: 100%;
}

#projectsContent {
    display: none; /* will change to display: flex when clicked on */
    height: 100%;
}

.cardRowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0em 2em;
    height: 100%;
    padding: 1em 1em 1em 1em;
    overflow-y: scroll;
    overflow-x: hidden;
}

#achievements {
    padding: 0 1em;
}

.ui.cards .card .content .header + .description {
    margin: 0.5em 0;
}

.cardContentBlock .dimmer.container {
    display: none;
    height: 92%; 
    width: 100%;
    position: absolute;
    z-index: 50;
    background-color: rgba(0,0,0,0.9);
    align-content: center;
    justify-content: center;
}

.show { /* added with javascript to fade in dimmers - transisiton time should match dimmer.js file */
    opacity: 1!important;
    transition: opacity 500ms;
}

.nopacity { /* added with javascript to fade in dimmers */
    opacity: 0;
    display: flex!important;
}

.hide { /* added with javascript to fade in dimmers - transisiton time should match dimmer.js file */
    opacity: 0;
    transition: opacity 500ms;
}

.cardContentBlock .ui.container, #projectsContent .ui.container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.ui.link.card {
    margin-top: 0.5em!important;
}

.cardContentBlock .one.column.row .column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContentBlock .one.column.row .column .ui.inverted.icon.header {
    margin: 0 1em 0 1em;
}

.cardContentBlock .two.column.row p {
    color: white;
    width: 100%;
    font-size: 1.15em;
    padding: 0 1em 0 1em; /* added to keep paragraphs from clipping when in mobile */
}

.cardContentBlock .two.column.row {
    padding: 0 2em 0 2em!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContentBlock .two.column.row #imgColumn, #projectsContent .two.column.row #imgColumn {
    display: flex;
    align-content: center;
    justify-content: center;
}

#imgContainer img {
    height: 35vh;
}

#imgContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.cardContentBlock .three.column.row .column {
    display: flex;
    align-content: center;
    justify-content: center;
}

@media(max-width: 636px) {

    .cardContentBlock .one.column.row .column {
        flex-wrap: wrap;
    }

    .cardContentBlock .one.column.row .column  #divider {
        display: none;
    }

    .cardContentBlock .one.column.row .column .ui.inverted.icon.header {
        width: 250px;
    }
}

@media(max-width: 775px) {
    .cardContentBlock .ui.container {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .cardContentBlock .one.column.row .column .ui.inverted.icon.header {
        margin-top: 1em;
    }
}

.cardContentBlock .close.icon {
    top: 0.5em;
    left: 0.5em;
    position: absolute;
    margin: 0 0.5em 0.5em 0;
    color: white;
    transition: 0.25s;
    z-index: 1;
}

.cardContentBlock .close.icon:hover {
    color: grey;
    transition: 0.25s;
    cursor: pointer;
}

/* ^ coop ^ */

#resumeContent {
    display: none;
    overflow-y: scroll;
    height: 100%;
    justify-content: center;
}

#resumeContent .ui.main.container {
    margin-top: 2em;
}

#resumeContent .ui.grid {
    margin-top: 1.5em;
}

#resumeContent .ui.grid p {
    font-size: 1.1em;
    margin: 0 0 2em 0;
}

#resumeContent .ui.grid li {
    margin: 0 0 0.5em 0;
}

#goalsDiv {
    display: inline-block;
}

#goalsColumn {
    display: flex;
    align-items: center;
}